/* Mensajes.view.scss */

h1, .usuarioLogueado {
    text-align: center;
}

.grupoForm {
    margin: 5px;
}

.LoginDia {
    background-color: #FFF;
    color: #000;
    margin: 5px;
}

.modoNocturno {
    margin-top: 30px;
}